<div class="col-md-9">
    <a href="/chi-nhanh/them" class="btn btn-primary mb-4 mr-3"><i class="fa fa-plus"></i> Thêm chi nhánh</a>
    <div class="card">
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên chi nhánh</th>
                        <th>Địa chỉ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Chi nhánh 1</td>
                        <td>02 Thanh Sơn, Thanh Bình, Hải Châu, Đà Nẵng</td>
                        <td>
                            <a class="btn btn-secondary" href="/chi-nhanh/CN1/sua">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="/chi-nhanh/CN1/xoa">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Chi nhánh 1</td>
                        <td>02 Thanh Sơn, Thanh Bình, Hải Châu, Đà Nẵng</td>
                        <td>
                            <a class="btn btn-secondary" href="/chi-nhanh/CN1/sua">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="/chi-nhanh/CN1/xoa">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Chi nhánh 1</td>
                        <td>02 Thanh Sơn, Thanh Bình, Hải Châu, Đà Nẵng</td>
                        <td>
                            <a class="btn btn-secondary" href="/chi-nhanh/CN1/sua">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="/chi-nhanh/CN1/xoa">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/plugins/jszip/jszip.min.js"></script>
<script src="/static/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
    $(function() {
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
</script>